.quest-form {
    max-width: 665px;
    @extend %form;
}

.quest-form__wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 16px;
}

.quest-form__wrapper--full {
    grid-template-columns: 1fr;
}

.quest-form__label {
    display: grid;
    grid-template-rows: 17px 1fr;
    gap: 4px;
}

.quest-form__input {
    @extend %input;
}

.quest-form__checkbox-wrapper {
    display: flex;
    position: relative;
}

.quest-form__checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.quest-form__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
}

.quest-form__checkbox:checked ~ .quest-form__checkmark {
    background-color: #FD7918;
    border-color: #FD7918;
}

.quest-form__checkmark::after {
    content: url(/assets/images/check.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;   
}

.quest-form__checkbox-wrapper {
    margin: 23px 0 13px;
    height: 20px;
    align-items: center;
}

.quest-form__checkbox:checked ~ .quest-form__checkmark::after {
    display: block;
}

.quest-form__checkbox-text {
    font-family: 'Inter', sans-serif;
    margin-left: 28px;
    font-size: 14px;
}

.quest-form__input--message {
    height: 152px;
    resize: none;
}

.quest-form__btn {
    max-width: 141px;
    margin-left: auto;
    margin-top: 16px;
}


