%form {
    padding: 32px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 18px;
    box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

%input {
    padding: 12px;
    background-color: #FAFAFA;
    margin-top: 4px;
    border-radius: 5px;
}

